<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>com.jkneen.openclicky.ocr</string>
    <key>CFBundleName</key>
    <string>openclicky-ocr-helper</string>
    <key>CFBundleDisplayName</key>
    <string>OpenClicky OCR Helper</string>
    <key>CFBundleExecutable</key>
    <string>openclicky-ocr-helper</string>
    <key>CFBundlePackageType</key>
    <string>XPC!</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>NSHumanReadableCopyright</key>
    <string>Copyright (c) 2026 Jason Kneen. All rights reserved.</string>
    <key>LSMinimumSystemVersion</key>
    <string>13.0</string>
    <key>XPCService</key>
    <dict>
        <key>ServiceType</key>
        <string>Application</string>
        <key>RunLoopType</key>
        <string>NSRunLoop</string>
        <key>_MultipleInstances</key>
        <false/>
        <key>JoinExistingSession</key>
        <false/>
    </dict>
</dict>
</plist>
